/*  First CSS stylesheet - linked to html bio */

/* Changing the font, text-colour and background of the website */
html {
      font-family: monospace, "Lucida Console", helvetica, ui monospace;
      color: orange;
      /* background-image: <HTML-background-2.png>#    Add coding side edge */
      background: #101101;
}

/* Changing the body of the text so it doesn't touch the edge...should this be in HTML */
body {
    font-size: 1.2em;
    width: 80%;
    margin: auto;
}   


/* Center photo */
#photo-of-me {
    /* display: block;
    margin: 45px auto 45px auto */
    float: right;
    margin: 10px 50px;
}



h1, h2 {
    color:rgb(212, 87, 3);
    padding-top: 50px;
    text-align: center;
}

/* HOOK LINE and SECTION TITLES */
h2, h3 {
    color:rgb(171, 23, 23);
}


/* Project and job titles */
h4 {
    color:rgb(212, 87, 3);
    margin-bottom: 0;
}


/* Customising the sub-heading "aspiring full-stack developer" 
Job location */
h6 {
    color:rgb(119, 49, 2);
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}


/* Global spacing for list items */
li {
    padding: 5px 0;
    list-style: circle;
}


/* SKILLS SECTION */
.skills-section {
    display: flex;
    flex-wrap:wrap;
}

/* Wraps text onto a new line to avoid overlapping text  */
.skills-section>* {
    flex: 1 1 217px;
}



/* Education sections with dates separated */
li + aside {
    grid-column: 8/10;
    color: rgb(226, 160, 7);
    margin: auto 0;
}

#quals {
    color: rgb(174, 76, 11);
}

/* QUALIFICATION DATES AND EMPLOYMENT DATES */
.same-line {
    display: grid;
    grid-column: 1/12;
    color:rgb(212, 87, 3);
    margin: 0 0;
    grid-row: 1;
}


/* Employment job title alignment */
div + h4 {  
    font-style: italic;
    font-size: 1.5em;  
    text-align: left;
    padding: 0 0;
    grid-column: 1/9;
}

/* Employment dates alignment grid, margin is needed to center the date with in the headings height */
aside {
    text-align: right;
    font-size: 0.8em;
    margin-top: 0;
    padding-top: 0 0;
    grid-column: 9/12;
}

.projects {
    /* padding-right: 500; */
    display: inline-flex;
    /* text-align: right; */
    /* margin-right: auto; */
}


/* A button I created for the bottom of the page */
#custom-button {
    padding: 18px;
    width: 30%;
    text-align: center;
    margin: 35px auto;
    border: 1px double #1f1f1f;
    transition: 0.2s;
}

#custom-button:hover {
        color: red;
        border: none;
        box-shadow: 0 0 40px 0 green;
}
#custom-button:active {
           background-color: green;
}

a {
font-style:none;
font-weight:bolder;
color: rgb(195, 77, 3);
cursor: crosshair;
}
